# Copy these to Vercel Project → Settings → Environment Variables
NEXT_PUBLIC_SUPABASE_URL=https://vntqcobrbmcwecloijry.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZudHFjb2JyYm1jd2VjbG9panJ5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjIyOTk3MzIsImV4cCI6MjA3Nzg3NTczMn0.m6jubUz8ZO6apPqNo0MmoWXXPMp1YKtLXJntfeU5nfk
